.headbox{
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0%;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}
.headleft img{
    z-index: 2;
    height: 10%;
    width: 10%;
}
header .headright{
    display: flex;
    gap: 10px;
}
.hero img{
    position: absolute;
    z-index: 0;
    top: 0%;
    width: 100%;
    height: 20%;
}