body{
    overflow-x: hidden;
    background: linear-gradient(rgba(80, 151, 222, 0.9), rgba(4, 85, 191, 1));
    margin: 0;
}
.headbox{
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0%;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    background-color:  rgba(255, 255, 255, 0.5);
}
.headleft img{
    z-index: 5;
    height: 10%;
    width: 10%;
}
.headleft a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.headleft{
    padding-left: 20px;
    padding-top: 20px;
}
.headright{
    padding-right: 20px;
    padding-top: 20px;
}
.headright a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
header .headright{
    display: flex;
    gap: 10px;
}
.hero img{
    z-index: 0;
    width: 100%;
    height: 20%;
}
.hero .title{
    position:absolute;
    top: 40%;
    left: 37%;
}
.title h2{
    font-size: 2.5em;
}
.text img{
    width: 50%;
    height: 30%;
}
.ji{
    width: 80PX;
    padding-left: 30PX;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}
.con{
    width: 90PX;
    padding-left: 15PX;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}
.content img{
    width: 50%;
    height: 30%;
}
.contentbox{
    left: 5%;
}
.whiteback{
    left: 2%;
    position: relative;
    width: 90%;
    height: 40%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 20px;
    gap: 10px;
}
footer{
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
footer p{
    text-align: center;
    padding-top: 30px;
}